.root {
  display: grid;
  grid-template:
    "control chart" auto
    "table chart" 1fr
    / 570px 1fr;
  place-items: stretch;
  padding: 20px;
  grid-gap: 20px;
  height: 100vh;
  overflow: hidden;
}

.control {
  grid-area: control;
}

.table {
  grid-area: table;
}

.chart {
  grid-area: chart;
}
